*~
duktape-*.tar.xz
duktape-*/
node_modules/
bundle.js
main
*.o
*.so
*.pyc
*_wrap.c
python/react_render.py
python/build/
python/env/
*.class
java/react_render.java
java/*JNI.java
clojure/clojure-1.6.0
react_render.java
react_renderJNI.java
Makefile
Makefile.in
missing
src/config.h
config.log
configure
config.h
config.h.in

